* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;

  --hue: 100;

  --text-title-color: hsl(320, 69%, 42%);
  --text-body-color:  hsl(244, 38%, 28%);
  --text-footer-color: hsl(0, 0%, 100%);

  --bg-app: hsl(283, 47%, 97%);
  --bg-card: hsl(0, 0%, 100%);
  --bg-color-footer:  hsl(242, 50%, 38%);
  --bg-gradiente-footer: hsl(244, 38%, 28%);
  --bg-color-button:  hsl(242, 50%, 38%);
  --bg-gradiente-button: hsl(244, 38%, 28%);
  --bg-color-button-hover:  hsl(242, 56%, 31%);
  --bg-gradiente-button-hover: hsl(244, 40%, 24%);
  
  --border-color: hsl(244, 38%, 28%);
}

html, body, input, button, textarea {
  font-family: 'Mulish', sans-serif;
}

body {
  width: 100%;
}

#app {
  max-width: 36.4rem;
  
  margin: 0 auto;
}

body, #app, .main, .contact {
  background: var(--bg-app);
}

.main {
  display: flex;
  flex-direction: column;

  padding-bottom: 9.3rem;
}

.astronaut {
  padding-bottom: 1.7rem;
}

h1 {
  padding-bottom: .5rem;

  text-align: center;
  font-size: 3.2rem;
  font-weight: 900;
}

.main p {
  padding-bottom: 3.5rem;

  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}

p {
  color: var(--text-body-color);
}

.main a {
  display: flex;
}

.main .arrow {
  margin: 0 auto;

  animation: moveUpDown 2s ease-in-out infinite;
}

h1, h2 {
  color: var(--text-title-color);
}

.cards {
  background: linear-gradient(96deg, var(--bg-color-footer) 0%, var(--bg-gradiente-footer) 99.68%);
  
  display: grid;
  gap: 5rem;

  padding: 5.3rem 3.9rem;
}

.card {
  padding: 2.65rem;

  border-radius: 2rem;

  background: var(--bg-card);
}

.card img {
  padding-bottom: 3.3rem;
}

.card h2 {
  font-size: 2.92rem;
  font-weight: 900;

  padding-bottom: 2rem;
}

.card p {
  font-size: 1.6rem;
  font-weight: 600;
}

.contact {
  padding: 7.8rem 4rem 6.5rem;
}

.contact img {
  display: none;
}

.contact h2 {
  padding-bottom: 4.3rem;

  font-size: 3.2rem;
  font-weight: 900;
}

form {
  display: flex;
  flex-direction: column;

  gap: 2.4rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

input, textarea {
  display: flex;
  padding: 1.2rem 1.6rem 1.2rem;
  align-items: center;

  border-radius: 1.6rem;
  border: 1.5px solid var(--border-color); 
  width: 100%;
}

input::placeholder {
  color: black; 
  padding: 1.2rem; 
}

input#name::placeholder {
  background: url(./assets/avatar.svg) no-repeat left center; 
}

input#email::placeholder {
  background: url(./assets/at.svg) no-repeat left center; 
}

textarea {
  height: 9.8rem;
}

textarea::placeholder {
  color: black; 
}

button {
  display: inline-flex;
  padding: 1.6rem;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: 1.6rem;

  background: linear-gradient(96deg, var(--bg-color-button) 0%, var(--bg-gradiente-button) 99.68%);
  
  width: 16rem;

  cursor: pointer;
}

button:hover {
  background: linear-gradient(96deg, var(--bg-color-button-hover) 0%, var(--bg-gradiente-button-hover) 99.68%);
}

button p {
  color: #FFFFFF;

  text-align: center;
  font-family: Mulish;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: capitalize;
}

footer {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;

  background: linear-gradient(96deg, var(--bg-color-footer) 0%, var(--bg-gradiente-footer) 99.68%);
  
  padding: 1.6rem 0 1.6rem 0;
}

footer p {
  color: var(--text-footer-color);
}


@keyframes moveUpDown {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(20px); /* Ajuste a distância da animação para cima */
  }
  100% {
      transform: translateY(0);
  }
}